body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.search-bar{
  width: 50%;
  border: solid 2px skyblue;
  margin: 1%;
}
.search-button{
  background-color: skyblue;
}
.filter-dropdown{
  margin:1%
}

table,th,tr,td{
  width: 80rem;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  margin-top: 5%;
  margin-left: 10%;
}
.table-icon{
  width: 2rem
}
.confirmation-dialog {
    width: 24%;
    margin-left: 36%;
    margin-top: 2%;
    background-color: #ff000094;
    border: 5px solid #ccc;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.confirmation-dialog p {
  margin-bottom: 10px;
}

.confirmation-dialog button {
  margin-right: 10px;
}

